@font-face {
	font-family: 'Avenir';
	src: url('../fonts/AvenirLTStd-Black.otf');
	font-weight: 700;
}

@font-face {
	font-family: 'Avenir';
	src: url('../fonts/AvenirLTStd-Roman.otf');
	font-weight: 300;
}

@font-face {
	font-family: 'Avenir';
	src: url('../fonts/AvenirLTStd-Book.otf');
	font-weight: 100;
}

:root {
	--sprinthub-blue: #0015AD;
	--sprinthub-primary: #031B4E;
	--sprinthub-secondary: #F4C94E;
	--sprinthub-yellow: #F2BC22;
	--sprintblue: #0015AD;
	--sprinthub-primary-2: #2D3A93;
}

/* General scrollbar */
::-webkit-scrollbar {
	-webkit-appearance: none;
	appearance: none;
	width: 0.5em;
	height: 0.5em;
}

::-webkit-scrollbar-corner {
	display: none
}

::-webkit-scrollbar-thumb {
	background-color: var(--sprinthub-primary);
	border-radius: 0.5em
}

::-webkit-scrollbar-track {
	background-color: var(--sprinthub-secondary);
}

.bg-primary {
	background-color: var(--sprinthub-primary) !important;
	color: #FFF;
}

.bg-secondary {
	background-color: var(--sprinthub-secondary) !important;
	color: #212529;
}

.bg-section {
	background-color: #E5E5E5;
}

body,
html {
	margin: 0;
	top: 0;
	font-family: 'Avenir';
	width: 100%;
}

a {
	cursor: pointer !important;
}

section,
header {
	width: 100%;
}

.sm-hidden {
	display: inline-block;
}

.md-hidden {
	display: none;
}

h3.header-title {
	font-size: 60px;
	font-weight: 800;
	line-height: 75px;
}

.header-text {
	font-size: 24px;
	line-height: 36px;
	/* or 150% */
	text-align: center;
	color: #FFFFFF;
}

.card-img-top {
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100%;
}

.small-title {
	font-weight: 800;
	font-size: 20px;
	line-height: 38px;
}

.title-muted {
	font-size: 24px;
	color: #C0C5E8;
}

.icon-fluid {
	min-height: calc(100% - 16px);
}

.tick {
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-image: url(../img/tick.png);
	background-position: center;
	background-repeat: no-repeat;
	background-color: #F4C94E;
	padding: 10px;
	margin-right: 7px;
}

.tool-text {
	position: absolute;
	margin: 10px;
}

.space {
	margin-right: 30px;
}

.big-btn {
	font-size: 16px;
	line-height: 20px;
	width: 221px;
	height: 56px;
	background: var(--sprinthub-yellow);
	border-radius: 4px;
	color: var(--sprinthub-primary-2) !important;
	padding: 18px 0px
}


/*
  NAVBAR
  */
.navbar {
	width: 100%;
}

.wrapper {
	overflow-x: hidden;
}

.navbar-brand img {
	float: right;
	max-height: 49px;
}

.nav-link {
	display: block;
	padding: .5rem 3rem;
	margin-left: 10px;
	margin-right: 20px;
	font-size: 20px;
	font-weight: 500;
}

.sticky-top {
	top: 0;
	position: fixed;

}

.sticky-top a,
.sticky-top button {
	color: #FFFFFF;
}

.transparent {
	background: transparent;
	background-color: transparent;
}

.sticky-top.scrolled {
	background-color: #ffffff !important;
	transition: 500ms ease;

}

.sticky-top.scrolled button {
	color: #333;
}

.sticky-top.scrolled a {
	color: var(--sprinthub-blue);
}

.nav-btn {
	margin-left: 40px;
}

.btn-nav {
	color: var(--sprinthub-blue) !important;
	font-weight: 600 !important;
}

button,
a.btn-sprinthub {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	padding: 15px 25px;
}


.btn-round {
	border-radius: 4px;
}

.btn-large {
	width: 189px !important;
	height: 56px !important;
	padding: 15px 67px !important;
	color: #FFFFFF !important;
}


.dark-blue-title {
	color: #031B4E;
	font-weight: 900;
}

.required,
em {
	color: red;
}

/* 
.sticky-top>.navbar-brand>img {
  content: url(../img/logo-white.png) !important;
}

.sticky-top.scrolled>.navbar-brand>img {
  content: url(../img/logo.png) !important;
  } */

.navbar>.container,
.navbar>.container-fluid {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.home-banner {
	min-height: 500px;
	padding-top: 10em;
	width: 100%;
	color: #fff;
	background-image: url(../img/home-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.ellipse-bg {
	background-position: center;
	background-repeat: no-repeat;
}

/* 
.header-title {
  font-size: 60px;
  margin-top: 100px;
  } */

.navbar-collapse {
	flex-basis: 100%;
	flex-grow: 1;
	align-items: center;
}

/* 
.navbar-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  } */

.home-banner {
	min-height: 680px;
	padding-top: 10em;
	width: 100%;
	color: #fff;
	background-image: url(../img/home-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.header-title {
	font-size: 60px;
	margin-top: 100px;
	color: #FFFFFF !important;
}

.service-text {
	/* font-size: 20px; */
	color: #666E7D;
	/* margin-bottom: 80px; */
}

.main {
	max-width: 100%;
}

.btn-sprinthub {
	background-color: var(--sprinthub-secondary) !important;
	border-radius: 4px;
	color: var(--sprinthub-primary);
}

.service-small-head {
	font-size: 20px;
	font-weight: 500;
}

.service-text {
	font-size: 20px;
	color: #666E7D;
	margin-bottom: 80px;
}


.btn-sprinthub {
	background: var(--sprinthub-secondary);
	border-radius: 4px;
	color: #0015AD;
	padding: 10px 30px !important;
}

.btn-sprinthub-white {
	background: #ffffff;
	border-radius: 4px;
	color: rgba(242, 188, 34, 0.8);
	/* padding-left: 33px; */
	/* padding-right: 33px; */
	/* padding-top: 14px; */
	/* padding-bottom: 14px; */
	height: 48px;
	width: auto;
}

.btn-sprinthub-blue {
	background: #2D3A93 !important;
	border-radius: 6px;
	color: #F2BC22;
	padding: 10px 20px 10px 20px;
	height: 48px;
	width: auto;
}

.cta {
	padding: 60px;
}

.text-copy {
	text-align: left;
	color: C0C5E8;
	padding: 40px 0px 40px 0px;
}


.icon.fab {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: #C0C5E8;
	color: var(--sprinthub-primary) !important;
	width: 1em;
	height: 1em;
	font-size: 1.5em;
	border-radius: 50%;
	padding: 1em;
}

.icon.fab:hover {
	color: #fff !important;
}

.btn-flat {
	border-radius: 0em !important;
}

.text-white {
	color: #FFFFFF;
}

.title {}

.navbar-nav {
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}


.navbar-expand {
	flex-flow: row nowrap;
	justify-content: flex-start;
}

.navbar-expand>.container,
.navbar-expand>.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.navbar-expand .navbar-nav {
	flex-direction: row;
}

.navbar-expand .navbar-nav .dropdown-menu {
	position: absolute;
}

.navbar-expand .navbar-nav .nav-link {
	padding-right: 1rem;
	padding-left: 1rem;
}

.navbar-toggler {
	font-size: 1.25rem;
	line-height: 1;
	padding: .25rem .75rem;
	border: 1px solid transparent;
	border-radius: .375rem;
	background-color: transparent;
	/* color: #ffffff; */
}


.navbar-collapse {
	flex-basis: 100%;
	flex-grow: 1;
	align-items: center;
}

.navbar-expand .navbar-toggler {
	display: none;
}

.navbar-toggler {
	font-size: 1.25rem;
	line-height: 1;
	padding: .25rem .75rem;
	border: 1px solid transparent;
	border-radius: .375rem;
	background-color: transparent;
}

.navbar-collapse {
	flex-basis: 100%;
	flex-grow: 1;
	align-items: center;
}

.nav-item {
	margin: 0 0.5em;
}

.btn-dark {
	color: #ffffff;
}

/* Carousel Dots */
.owl-dots {
	margin-top: 1em;
}

.owl-dots .owl-dot>span {
	border: 1px solid var(--sprinthub-primary-2);
	background-color: transparent !important;
	padding: 0.4em
}

.owl-dots .owl-dot.active>span {
	background-color: var(--sprinthub-primary-2) !important;
}

/* Service Carousel */
.service-carousel-layout .owl-nav {
	margin-bottom: 1em;
}

.service-carousel-layout .owl-nav button {
	-webkit-appearance: none;
	appearance: none;
	display: inline-block;
	padding: 1.5em;
	border: none;
	border-radius: 50%;
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 6px 12px rgba(50, 50, 93, 0.0025);
	background-color: var(--sprinthub-yellow);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60%;
}

.service-carousel-layout .owl-nav button.owl-prev {
	background-image: url(../img/arrow-left.png)
}

.service-carousel-layout .owl-nav button.owl-next {
	background-image: url(../img/arrow-right.png)
}

.service-carousel-layout .owl-nav button+button {
	margin-left: 3em;
}

.service-carousel-layout .owl-nav button span {
	display: none;
}


.service-carousel-layout .owl-carousel .owl-stage {
	min-height: 75vh;
}

.service-carousel-layout .owl-carousel .owl-item {
	transition: margin 0.2s;
}

.service-carousel-layout .owl-carousel .owl-item.active.center {
	margin-top: 3em;
}

.service-carousel-layout .owl-carousel .item {
	position: relative;
	overflow: hidden;
	border-radius: 1em;
}

.service-carousel-layout .carousel-img {
	width: 100%;
	height: 28em;
	object-fit: cover;
}

.service-carousel-layout .carousel-content .more-btn {
	width: 2.5em;
	height: 2.5em;
	padding: 0.25em;
	top: 50%;
	right: 0;
	position: absolute;
	transform: translate(50%, -50%);
	background-color: var(--sprinthub-secondary);
}

.service-carousel-layout .carousel-content {
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 90%;
	padding: 1em;
	padding-right: 3em;
	border-top-right-radius: 5em;
	background-color: #fff;
}

/* Testimony Carousel */
.testimony-carousel-layout .owl-item {
	padding: 0.5em;
}

.testimony-carousel-layout .item {
	display: flex;
	align-items: center;
	overflow: hidden;
	border-radius: 1em;
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 6px 12px rgba(50, 50, 93, 0.0025);
}

.testimony-carousel-layout .carousel-text {
	font-style: italic;
	font-weight: 100;
}

.testimony-carousel-layout .carousel-title {
	font-size: 110%;
	font-weight: 900;
}

.testimony-carousel-layout .carousel-content::before {
	content: '';
	display: block;
	background: linear-gradient(transparent, var(--sprinthub-primary-2))
}

.testimony-carousel-layout .carousel-content {
	font-size: 24px;
	text-align: center;
	color: #fff;
	background-color: var(--sprinthub-primary-2);
	padding: 1em
}

.presskit-page .card-footer {
	display: flex;
	justify-content: space-around
}

@media (max-width: 769px) {

	.navbar-collapse.collapsing,
	.navbar-collapse.show {
		padding: 16px;
		animation: show-navbar-collapse .2s ease forwards;
		border-radius: 0em;
		background: #fff;
		display: block;
		z-index: 2000;
		box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
	}

	.navbar-collapse .collapse-close {
		text-align: right;
	}

	.navbar-collapse {
		position: absolute;
		z-index: 1050;
		top: 0;
		right: 0;
		left: 0;
		overflow-y: auto;
		width: calc(100%);
		height: auto !important;
		margin: 0rem;
		opacity: 1;
	}

	.navbar-collapse .navbar-toggler {
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		padding: 0;
	}

	.navbar-nav .nav-item,
	.navbar-nav .nav-item>a {
		color: #172b4d;
	}

	.navbar-nav .nav-link {
		padding: .625rem 0;
	}

	.navbar-collapse .navbar-toggler span {
		position: absolute;
		display: block;
		width: 100%;
		height: 2px;
		opacity: 1;
		border-radius: 0;
		background: #283448;
	}

	.navbar-collapse .navbar-toggler :nth-child(1) {
		transform: rotate(135deg);
	}

	.navbar-collapse .navbar-toggler :nth-child(2) {
		transform: rotate(-135deg);
	}

	.btn-nav {
		background-color: #595657;
		color: #FFFFFF !important;
	}
}

footer {
	/* color: #C0C5E8 !important; */
}

footer a {
	color: #C0C5E8 !important;
}

footer a:hover {
	color: #fff !important;
	text-decoration: none;
}

footer .nav {
	list-style: none;
}

footer .nav .nav-item {
	display: block;
	width: 100%;
}

footer .nav .nav-item+.nav-item {
	margin-top: 1em;
}

.sub-text {
	display: block;
}

.sub-text+.sub-text {
	margin-top: 1em;
}

.sub-text::before {
	content: attr(data-subsuffix);
	display: block;
	margin-bottom: 0.5em;
	font-size: 0.9em;
	font-weight: bold;
}

footer .icon+.icon {
	margin-left: 1em;
}

.ios {
	margin-top: 60px;
}

.web {
	margin-top: 40px;
	margin-left: 100px;
}

.card-circle {
	/* position: absolute; */
	/* left: 33.33%;
  right: 33.33%; */
	top: 0%;
	bottom: 70.15%;
	background: #FFFFFF;
	/* shadow man */
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
	margin-top: -3em;
	margin-left: auto;
	margin-right: auto;
	max-height: 90px;
	max-width: 90px;
	border-radius: 50%;
	padding: 20px;
}

.blog-banner {
	background: url(../img/blog-header-bg.png) no-repeat;
	background-size: cover;
	box-shadow: inset 0 0 0 2000px #00287157;
	font-weight: 800;
	font-size: 90px;
	line-height: 123px;
	color: #FFFFFF;
	min-height: 530px;
	border-radius: 0px !important;
}

.navbar-nav .nav-link:hover {
	color: #00154D;
}

.card-shadow {
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3),
		0px 6px 12px rgba(50, 50, 93, 0.0025);
	border-radius: 4px;
}

@media (max-width: 769px) {

	.web {
		margin-top: 40px;
		margin-left: 100px;
	}
}

@media(max-width: 979px) {
	.work {
		width: calc(100% - 0.8em);
		margin-left: 0.3em;
		margin-right: 0.3em;
	}
}


/* BLOG STYLES */
.category-label {
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #031B4E;
}

.blog-title {
	font-size: 90px;
	font-weight: 500;
	line-height: 75px;
	margin-top: 150px;
}

.excerpt-title {
	font-weight: 600;
	font-size: 24px !important;
	line-height: 1em;
	color: #031B4E;
}

.excerpt-text {
	color: #666E7D;
	font-size: 16px;
}

.author-text {
	color: #031B4E;
	font-size: 14px;
}

.excerpt-date {
	color: #666E7D;
	font-size: 14px;
}

.author {
	display: inline-flex;
}

.author img {
	max-width: 30px;
	max-height: 30px;
	border-radius: 50%;
	margin-right: 10px;
}

span>a.link {
	margin-top: .5em;
	line-height: 40px;
	margin-bottom: 0;
}

.link {
	color: #2D3A93;
}

.blog-snippet-preview {
	max-height: 236px;
}

.blog-snippets {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr;
	grid-template-rows: auto auto auto;
}

.pagination {
	margin-right: auto;
	margin-left: auto;
	display: inline-flex;
}

a.page-link {
	border: 0;
	background: none !important;
}

.input-large {
	background: #F6F7FC;
	border: 1px solid #666E7D;
	box-sizing: border-box;
	border-radius: 3px 0px 0px 3px;
	padding: 10px;
	height: 56px;
}

.sub-group {
	width: calc(63%);
}

.pager {
	list-style: none;
	display: inline-flex;
}

.input-row {
	width: calc(80%);
}

.search-result {
	max-height: 200px !important;
	display: inline-flex;
}

.blog-item {}

.img-fit {
	max-width: 100%;
	height: max-content;
}

.borderless {
	border: 0px !important;
}

.inline {
	display: inline-flex;
}

.ml {
	margin-right: 0;
	margin-left: auto;
}

.top-line {}


/* BLOG NAVBAR */

.blog-nav {
	background-color: #FFFFFF;
	display: flex;
	flex-direction: row;
}

.sub-nav {
	background-color: #FFFFFF;
	display: flex;
}

.sub-nav .navbar-nav {
	display: inline-flex;
	flex-direction: row;
}

.sub-nav a {
	color: #666E7D;
	font-size: 16px;
	line-height: 22px;
	margin-left: 27px;
	margin-right: 27px;
}

.sub-nav a:active {
	color: #0015AD;
}

ul.no-bullet,
ul.no-gutters {
	list-style: none;
	padding-inline-start: 0;
}

.affix {
	position: fixed;
	top: 0;
	width: 100%;
	opacity: 1;
}
}

.pager {
	list-style: none;
	display: inline-flex;
}

.input-row {
	width: calc(80%);
}

.search-result {
	max-height: 200px !important;
	display: inline-flex;
}

.blog-item {}

.img-fit {
	max-width: 100%;
	max-height: 250px;
	object-fit: cover;
}

.borderless {
	border: 0px !important;
}

.inline {
	display: inline-flex;
}

.ml {
	margin-right: 0;
	margin-left: auto;
}

.top-line {}


/* BLOG NAVBAR */

.blog-nav {
	background-color: #FFFFFF;
	display: flex;
	flex-direction: row;
}

.sub-nav {
	background-color: #FFFFFF;
	display: flex;
}

.sub-nav .navbar-nav {
	display: inline-flex;
	flex-direction: row;
}

.sub-nav a {
	color: #666E7D;
	font-size: 16px;
	line-height: 22px;
	margin-left: 27px;
	margin-right: 27px;
}

.sub-nav a:active {
	color: #0015AD;
}

ul.no-bullet,
ul.no-gutters {
	list-style: none;
	padding-inline-start: 0;
}

.affix {
	position: fixed;
	top: 0;
	width: 100%;
	opacity: 1;
}

.affix-top {
	position: static;
	opacity: 0.8;
}

h1.content-header {
	font-size: 72px;
	line-height: 98px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #FFFFFF;
}


.tags li a {
	color: var(--sprinthub-primary);
	font-weight: 500;
	text-decoration: none;
}

.sidebar-content {
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 6px 12px rgba(50, 50, 93, 0.0025);
	padding: 20px;
	margin-left: 30px;
	border-radius: 10px;
	background: white;
}

.blog-content {
	color: #666E7D;
	padding: 10px 30px;
}

.btn-author {
	color: #2d3a93;
	padding: 10px 20px 10px 20px;
	border: 1px solid #2d3a93;
	font-weight: 600;
}

.author-box {
	padding: 10px 30px;
}

.tags li {
	margin-bottom: 16px;
}

.image-center {
	margin: auto;
	display: block;
}

.services-title {
	font-size: 36px;
	color: #031B4E;
	font-weight: 900;
	letter-spacing: 0.0025em;
}

.services-text {
	color: #666E7D;
}

.card-service {
	border-radius: 20px;
}

.services-small-title {
	font-weight: 600;
	font-size: 20px;
	padding-bottom: 10px;
}

.ios-service-image {
	background-image: url('../img/ios_dev.png');
	background-size: cover;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	min-height: 200px;
}

.ui-ux-service-image {
	background-image: url('../img/ui-ux.png');
	background-size: cover;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	min-height: 200px;
}

.product-service-image {
	background-image: url('../img/strategy.png');
	background-size: cover;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	min-height: 200px;
}

.android-service-image {
	background-image: url('../img/android_dev.png');
	background-size: cover;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	min-height: 200px;
}

.web-service-image {
	background-image: url('../img/android_dev.png');
	background-size: cover;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	min-height: 200px;
}

.quality-service-image {
	background-image: url('../img/assurance.png');
	background-size: cover;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	min-height: 200px;
}

.how-text {
	font-size: 16px;
	color: #666E7D;
	padding: 10px;
}

.container-scroll {
	display: block;
	margin: auto;
	position: relative;
	width: 24px;
	margin-top: 180px;
	height: 24px;

}

.chevron {
	position: absolute;
	width: 28px;
	height: 8px;
	opacity: 0;
	transform: scale3d(0.5, 0.5, 0.5);
	animation: move 3s ease-out infinite;
}

.chevron:first-child {
	animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
	animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
	content: ' ';
	position: absolute;
	top: 0;
	height: 100%;
	width: 51%;
	background: #fff;
}

.chevron:before {
	left: 0;
	transform: skew(0deg, 30deg);
}

.chevron:after {
	right: 0;
	width: 50%;
	transform: skew(0deg, -30deg);
}

@keyframes move {
	25% {
		opacity: 1;

	}

	33% {
		opacity: 1;
		transform: translateY(30px);
	}

	67% {
		opacity: 1;
		transform: translateY(40px);
	}

	100% {
		opacity: 0;
		transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
	}
}

.text {
	display: block;
	margin-top: 75px;
	margin-left: -30px;
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	white-space: nowrap;
	opacity: .25;
	animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
	to {
		opacity: 1;
	}
}




/* INPUT CUSTOMIZATION FOR CONTACT FORM */
.iti__flag {
	background-image: url("../img/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
	.iti__flag {
		background-image: url("../img/flags@2x.png");
	}
}


/* ZOHO FORM STYLES */
.zf-errorMessage {
	font: 12px Arial, Helvetica, sans-serif;
	color: #ff0000;
	padding-top: 5px;
}

.iti {
	display: inherit;
}

input[type='text'],
input[type='email'],
input[type='tel'],
select.form-control {
	border: 1px solid #B6BECF;
	box-sizing: border-box;
	border-radius: 4px;
	height: 45px;
}

textarea.form-control {
	border: 1px solid #B6BECF;
	box-sizing: border-box;
	border-radius: 4px;
}

.iti--separate-dial-code .iti__selected-flag {
	background-color: #E5E8F8;
}

.txt-primary {
	color: #031B4E;
}


/* CHECKBOX */
/* The container */
.check {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */

.check input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
}


/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
	background-color: #0015AD;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.check input:checked~.checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.datepicker {
	background: url(../img/calendar-icon.png) no-repeat scroll calc(100% - 10px) 8px;
	backface-visibility: visible;

	/* padding-left: 30px; */
}

.select {
	background: url(../img/arrow-down.png) no-repeat scroll calc(100% - 10px) 8px;
	backface-visibility: visible;
}

.contact-img-wrap {

	padding-top: 90px;
	margin: 0em -2em;
}

.contact-banner {
	background-image: url(../img/home-bg.png);
	background-position: cover;
	background-repeat: no-repeat;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 5em;
	padding-left: 0;
	padding-right: 0;
	display: inline-flex;
	flex-direction: column;
}

.contact-img {
	/* background-image: url(../img/artwork.svg); */
	/* background-position: center;
	background-repeat: no-repeat; */
	min-height: 300px;
	display: block;
	/*2background-size: cover; */
}